In [2]:
import sys
!{sys.executable} -m pip install pandas
import pandas as pd 
pd.read_excel('usu_individual_T423.xlsx')

Requirement already satisfied: pandas in /Users/lucilabrisighelligatti/anaconda3/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/lucilabrisighelligatti/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/lucilabrisighelligatti/anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/lucilabrisighelligatti/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/lucilabrisighelligatti/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,PDECIFR,ADECIFR,IPCF,DECCFR,IDECCFR,RDECCFR,GDECCFR,PDECCFR,ADECCFR,PONDIH
0,TQRMNOSUWHLMKQCDEFNFF00852219,2023,4,1,1,1,41,N,7,370,...,12.0,12,0.00,12,12.0,12,NaN,12.0,12,0
1,TQRMNOSUWHLMKQCDEFNFF00852219,2023,4,1,2,1,41,N,7,370,...,12.0,12,0.00,12,12.0,12,NaN,12.0,12,0
2,TQRMNOTXQHKOLMCDEGNFJ00794590,2023,4,1,1,1,44,N,17,281,...,9.0,7,216666.67,8,8.0,7,NaN,8.0,6,387
3,TQRMNOTXQHKOLMCDEGNFJ00794590,2023,4,1,2,1,44,N,17,281,...,9.0,7,216666.67,8,8.0,7,NaN,8.0,6,387
4,TQRMNOTXQHKOLMCDEGNFJ00794590,2023,4,1,3,0,44,N,17,281,...,9.0,7,216666.67,8,8.0,7,NaN,8.0,6,387
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47332,TQRMNORXTHLOLSCDEGJBF00853031,2023,4,1,1,1,43,S,13,634,...,NaN,4,65000.00,2,2.0,2,2.0,NaN,2,777
47333,TQRMNORXTHLOLSCDEGJBF00853031,2023,4,1,2,1,43,S,13,634,...,NaN,4,65000.00,2,2.0,2,2.0,NaN,2,777
47334,TQRMNORXTHLOLSCDEGJBF00853031,2023,4,1,3,1,43,S,13,634,...,NaN,4,65000.00,2,2.0,2,2.0,NaN,2,777
47335,TQRMNORXTHLOLSCDEGJBF00853031,2023,4,1,4,1,43,S,13,634,...,NaN,4,65000.00,2,2.0,2,2.0,NaN,2,777
47336,TQRMNOQWQHKMLNCDEIMBF00792561,2023,4,1,1,1,43,N,36,142,...,4.0,4,250000.00,8,9.0,8,NaN,9.0,8,156